.root {
    -fx-background-color: #1e1e1e;
    -fx-text-fill: #ffffff;
}

#bannerAP {
    -fx-background-color: #222;
}

.button {
    -fx-background-color: #2c3e50;
    -fx-text-fill: white;
}

.text-field, .password-field {
    -fx-background-color: #333;
    -fx-text-fill: white;
    -fx-border-color: #555;
}

#loginLBL, #detailsTF {
    -fx-text-fill: white;
}
#registerLBL, #detailsTF {
    -fx-text-fill: white;
}

.text-field, .password-field {
    -fx-background-color: #3c3c3c; /* lighter shade for visibility */
    -fx-text-fill: #f0f0f0;        /* soft white text */
    -fx-border-color: #666;
}

