.root {
    -fx-background-color: #1e1e1e;
    -fx-text-fill: #ffffff;
}

#bannerAP {
    -fx-background-color: #222 !important;
    -fx-border-color: #555;
}

#loginBTN, #strongPassBTN {
    -fx-background-color: #2c3e50 !important;
    -fx-text-fill: white;
}

#signUpBTN {
    -fx-background-color: transparent;
    -fx-text-fill: white !important;
}

.text-field, .password-field {
    -fx-background-color: #333;
    -fx-text-fill: white;
    -fx-border-color: #555;
}

#loginLBL, #detailsTF {
    -fx-text-fill: white;
}
#registerLBL, #detailsTF {
    -fx-text-fill: white;
}

.text-field, .password-field {
    -fx-background-color: #3c3c3c;
    -fx-text-fill: #f0f0f0;
    -fx-border-color: #666;
}

#logInAP, #registrationAP {
    -fx-background-color: #333 !important;
    -fx-border-color: #555;
}

#logInAP * {
    -fx-text-fill: white;
}

#registrationAP * {
    -fx-text-fill: white;
}